* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*raccourcis*/
/*all*/
body {
  color: #000;
  background-color: #e3e3e3;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
.required {
  color: red;
}
.requir {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
label {
  font-weight: 100;
}
h2 {
  margin-top: 0;
}
.form-control {
  border-radius: 0;
  border: 1px solid #000;
}
.btn-default:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
/*MENU*/
.menu-nav {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 20px 0 40px 0;
  background-color: #fff;
}
.menu-nav .menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.menu-nav .menu .nav {
  display: flex;
  flex-direction: row;
}
.menu-responsive {
  display: none;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #000;
  color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #fff;
  color: #000;
}
.dropdown-menu {
  border: 1px solid #000;
  border-radius: 0;
  min-width: 0;
}
.dropdown-menu li {
  text-align: center;
}
.dropdown-menu > li > a {
  color: #000;
}
/*HOME*/
.btn-default,
.show-candidates label,
.create a {
  margin-top: 20px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 0;
}
.create {
  margin-top: 20px;
}
.wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
.wrap #chronoExample {
  margin-top: 50px;
}
.wrap #chronoExample #test2 {
  font-size: 2rem;
}
#level,
#timend {
  display: none;
}
.sudoku-c {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.sudoku-c .show-candidates,
.sudoku-c .new-one {
  display: flex;
  flex-flow: column wrap;
  margin: 5px;
}
.sudoku-c .show-candidates input,
.sudoku-c .new-one input {
  display: none;
}
@media (min-width: 30em) {
  .sudoku-board input {
    font-size: 24px;
  }
  .sudoku-board .candidates {
    font-size: .8em;
  }
}
@media (max-width: 700px) {
  .wrap #chronoExample {
    margin: 0px;
  }
}
/*PARTIE A REVOIR */
/* ----popup---- */
.popup-form {
  background-color: #fff;
  min-height: 30vh;
  margin: 25vh auto;
  padding: 15px;
  width: 500px;
}
.popup-form h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.addvalues {
  text-align: center;
}
.addvalues input {
  font-size: 1rem;
}
.addvalues #input-timend,
.addvalues #input-level {
  border: none;
  background: transparent;
}
.addvalues .btn-validate {
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px;
  margin-top: 30px;
}
.addvalues .btn-validate:hover {
  background: #000;
  color: #fff;
}
.popup {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(-100vh);
  margin: 0 auto;
  font-family: 'quicksandregular';
}
.active {
  transform: none;
  z-index: 1;
}
/*SIGN*/
.connect {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.connect h2,
.connect input {
  margin-bottom: 20px;
}
.wrap1 {
  display: flex;
  justify-content: center;
}
.wrap1 input {
  margin-bottom: 20px;
}
/*PROFIL*/
.profil {
  display: flex;
  justify-content: center;
  margin-top: 165px;
}
.profil .info_p a {
  text-decoration: underline;
}
/* CONTEST.PHP */
.btn_contest {
  background-color: #000;
  padding: 20px 50px;
  color: #fff !important;
}
.winner-array {
  margin-top: 50px;
}
.winner-array .winner-tab {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
/* RESULTS.PHP */
.results-array {
  margin-top: 165px;
}
.results-array h2 {
  margin-bottom: 50px;
}
/*FOOTER*/
footer {
  background-color: #000;
  color: #fff;
}
/*tablet and mobile*/
@media screen and (max-width: 700px) {
  .menu-nav {
    align-items: flex-start;
  }
  .menu-nav .menu {
    flex-direction: column;
  }
  .menu-nav .menu .nav {
    display: none;
  }
  .menu-nav .menu .nav li {
    border-width: 3px;
    text-align: center;
  }
  .menu-responsive {
    display: block;
    background-image: url(../icons/menu-bar-icon.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 120px;
    height: 75px;
    cursor: pointer;
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: none;
  }
  .btn-default,
  .show-candidates label {
    margin: 10px 5px;
    padding: 5px 30px;
  }
  .sudoku-c {
    flex-direction: column;
  }
  .sudoku-c .show-candidates,
  .sudoku-c .new-one {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .sudoku-c .show-candidates span,
  .sudoku-c .new-one span {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .sudoku-c .show-candidates {
    font-size: 1rem;
  }
}
