* {
    margin:0; padding:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*font*/

/*raccourcis*/
@black: #000;
@white: #fff;
@20: 20px;
@none: none;
@center: center;
@border-black: 1px solid @black;
@border-white: 1px solid @white;

/*all*/
body{
    color: @black;
//    font-family: 'quicksandregular';
}
a{
    color: @black;
    &:hover{
        text-decoration: @none;
        color: @black;
    }
}
.required{
    color: red;
}
label{
    font-weight: 100;
}
h2{
    margin-top: 0; 
}
.form-control{
    border-radius: 0;
    border: @border-black;
}
.btn-default:hover{
    color: @black;
    background-color: @white;
    border: @border-black;
}

/*MENU*/
.menu-nav{
    font-size: 2rem;
    display: flex;
    justify-content: @center;
    align-items: @center;
    border-bottom: @border-black;
    margin: @20 0 @20+@20 0;
    padding-bottom: @20;
    .menu{
        display: flex;
        justify-content: space-between;
        align-content: @center;
        flex-flow: row wrap;
        align-items: @center;
        .nav{
            display: flex;
            flex-direction: row;
        }
    }
}
.menu-responsive{
    display: @none;
}
.nav > li > a:focus, .nav > li > a:hover{
    background-color: @black;
    color: @white;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
    background-color: @white;
    color: @black;
    border: @border-black;
}
.nav-pills > li > a{
    border-radius: 0;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: @white;
    color: @black;
}
.dropdown-menu{
    border: @border-black;
    border-radius: 0;
    li{
        text-align: center;
    }
}
.dropdown-menu > li > a{
    color: @black;
}

/*HOME*/
.btn-default, .show-candidates label{
    margin-top: @20;
    border: @border-black;
    background-color: @black;
    color: @white;
    padding: 5px @20;
    cursor: pointer;
    border-radius: 0;
}

.wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: @center;
    text-align: @center;
    #chronoExample{
        margin: 50px 0;
        #test2{
            font-size: 2rem;
        }
    }
}
#level, #timend {
    display: @none;
}
.sudoku-c{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: @center;
    .show-candidates, .new-one{
        display: flex;
        flex-flow: column wrap;
        input{
            display: @none;
        }
    }
}
@media(min-width: 30em){
    .sudoku-board input {
        font-size: 24px;
    }
    .sudoku-board .candidates {
        font-size: .8em;
    }
}

/*PARTIE A REVOIR */
/* ----popup---- */
.popup-form {
    background-color: @white;
    min-height: 30vh;
    margin: 25vh auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 500px;
    h2{
        text-align: @center;
        margin-top: 50px;
    }
}
            
.addvalues {
    text-align: @center;
    input{
        font-size: 1rem;
    }
    #input-timend, #input-level{
        border: @none;
        background: transparent;
        width: 75px;
        margin-top: 3vh;
    }
    .btn-validate{
        border: @border-black;
        background: #fff;
        padding: 10px;
        margin-top: 30px;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}         
.popup{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
    transform: translateY(-100vh);
    margin: 0 auto;
    font-family: 'quicksandregular';
}       
.active {
    transform: none;
    z-index: 1;
}

/*SIGN*/
.connect{
    display: flex;
    justify-content: center;
    h2,input{
        margin-bottom: @20;
    }
}

/*PROFIL*/
.profil{
    display: flex;
    justify-content: @center;
    .info_p{
        a{
            text-decoration: underline;
        }
    }
}
/* CONTEST.PHP */
.btn_contest{
    background-color: @black;
    padding: @20 50px;
    color: @white;
}

.winner-array{
    margin-top: 50px;
    .winner-tab {
    background-color: @black;
    color: @white;
    text-transform: uppercase;
    }
}

/*FOOTER*/
footer{
    background-color: @black;
    color: @white;
}

/*tablet and mobile*/
@media screen and (max-width:700px) {
    .menu-nav{
        align-items: flex-start;
        .menu{
            flex-direction: column;
            .nav{
                display: @none;
                li{
                    border-width: 3px;
                    text-align: @center;
                }
            }
        }
    }
    .menu-responsive{
        display: block;
        background-image:url(../icons/menu-bar-icon.png);
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: @center right;
        width: 120px;
        height: 75px;
        cursor: pointer;
    }
    .nav > li > a:focus, .nav > li > a:hover{
        background-color: @none;
    }
    .btn-default, .show-candidates label{
        margin: 10px 5px;
        padding: 5px 30px;
    }
    .sudoku-c{
        flex-direction: column;
        .show-candidates, .new-one{
            flex-direction: row;
            align-items: center;
            span{
                display: @none;
            }
        }
    }
}